@inherits RazorTemplateBase

<h1>@Model.Source.Element("Type").Attribute("Name").Value</h1>

<ul>
@foreach(var member in @Model.Source.XPathSelectElements("//Member")) {
        <li>@member.Attribute("MemberName").Value</li>
}
</ul>
